<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-dark mb-3" (click)="showUserForm = !showUserForm">Add User</button>
      <div class="card card-body mb-3" *ngIf="showUserForm">
        <h2>Add User</h2>
        <form (submit)="onSubmit($event)">
          <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" name="firstname" [(ngModel)] = "user.firstName" >
          </div>
          <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" name="lastname"  [(ngModel)] = "user.lastName">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="number" class="form-control" name="email"  [(ngModel)] = "user.email">
          </div>
         
          <button (click)="addUser()"
            class="btn btn-block mb-2" 
            [disabled]="user.firstName =='' || user.lastName == ''" type="submit">Add new user</button>
        </form>
      </div>

      <ul *ngIf="loaded && users?.length > 0">
        <!-- structural directives -->
        <li class="card card-body mb-2" *ngFor='let user of users' [class.bg-light]="user.isActive">
          <h2> {{user.firstName}} {{user.lastName}}
            <small><button (click)="toggleHide(user)" class="btn btn-dark">
                <i [ngClass]="user.hide? 'fa fa-plus' : 'fa fa-minus'"></i> </button></small>
          </h2>
          <ul class="list-group" *ngIf = !user.hide>
            <li class="list-group-item"> Email: {{user.email}} </li>
            <li class="list-group-item">Joined: {{user.registered | date:"mm/dd/yyyy"}} </li>
          </ul>
        </li>
      </ul>

      <h4 *ngIf='!loaded'>Loading users</h4>

      <h4 *ngIf='users?.length == 0'>No users found</h4>
    </div>
  </div>
</div>